<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='About')"></head>

<body>

<div th:replace="fragments::barra-menu (nombreUsuario=${nombreUsuario}, id=${idUsuario})"/>

<div class="container-fluid">
    <div class="container-fluid">
        <h1>ToDoList</h1>
        <ul>
            <li>Desarrollada por Equipo-03</li>
            <li>Alejandro Martinez Castillo: Responsable de GitHub</li>
            <li>Omar Moukket Rkizat: Responsable del producto</li>
            <li>Daniel Primitivo Cano: Responsable de integración continua (devop)</li>
            <li>Versión 1.3.1</li>
            <li>Fecha de release: 20/11/2019</li>
    </div>

</div>

<div th:replace="fragments::javascript"/>

</body>
</html>