<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='About')"></head>

<body>

<div th:replace="fragments::barra-menu (nombreUsuario=${nombreUsuario}, id=${idUsuario})"/>

<div class="container-fluid">
    <div class="container-fluid">
        <h1>ToDo List</h1>
        <ul>
            <li>Desarrollada por Omar Moukket</li>
            <li>Versión 1.1.0</li>
            <li>Fecha de release: 15/10/2019</li>
        </ul>
    </div>

</div>

<div th:replace="fragments::javascript"/>

</body>
</html>