<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Descripción de usuario')"></head>

<body>

<div th:replace="fragments::barra-menu (nombreUsuario=${nombreUsuario}, id=${idUsuario})"/>
<div class="container-fluid">
    <div class="row mt-3 justify-content-center">
        <div class="col-6">
            <h4 class="text-center" th:text="'Descripción de ' + ${usuario.nombre}"/>
        </div>
    </div>

    <div class="row mt-3 justify-content-center">
        <div class="col-3">
            <div class="card">
                <div class="card-header">Detalles</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:if="${usuarioLog.adminCheck}" th:text="'ID: ' + ${usuario.id}"/>
                    <li class="list-group-item" th:text="'Nombre: ' + ${usuario.nombre}"/>
                    <li class="list-group-item" th:text="'E-mail: ' + ${usuario.email}"/>
                    <li class="list-group-item" th:text="'Fecha nacimiento: ' + ${usuario.fechaNacimiento}"/>
                    <li class="list-group-item" th:if="${usuarioLog.adminCheck}" th:text="'Admin: ' + ${usuario.adminCheck} " />
                    <li class="list-group-item" th:if="${usuarioLog.adminCheck}" th:text="'Acceso bloqueado: ' + ${usuario.bloqueado}"/>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>