<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (titulo)">
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<div th:fragment="javascript">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js.css}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <span th:text="${scripts}"></span>
</div>

<nav th:fragment="barra-menu (nombreUsuario, id)" class="navbar navbar-expand-lg navbar-light" style="background-color:#4da6ff">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/about">ToDoList</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:if="${id != 'null'}" th:href="@{~/usuarios/{id}/tareas(id=${id})}">Tareas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:if="${id != 'null'}" th:href="@{~/equipos}">Equipos</a>
            </li>
        </ul>
        <div class="nav-item navbar-nav dropdown" th:if="${nombreUsuario != 'null'}">
            <a th:text="${nombreUsuario}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" th:href="@{~/usuarios/{id}(id=${id})}">Cuenta</a>
                <a class="dropdown-item" href="/logout">Cerrar sesión</a>
            </div>
        </div>
    </div>
</nav>

</html>