<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Usuarios')"></head>

<body>

<div th:replace="fragments::barra-menu (nombreUsuario=${nombreUsuario}, id=${idUsuario})"/>

<div class="row mt-3">
    <div class="col">
        <h2>Listado de usuarios registrados</h2>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>E-mail</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="usuario: ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.email}"></td>
                <td>
                    <a class="btn btn-primary btn-xs" th:href="@{~/usuarios/{id}(id=${usuario.id})}"/>Descripción</a>
                    <a th:if="${usuario.bloqueado == false}" th:href="@{~/usuarios/{id}/gestion/{accion} (id=${usuario.id}, accion='bloquear')}" class="btn btn-danger" th:text="'Bloquear'"/>
                    <a th:if="${usuario.bloqueado == true}" th:href="@{~/usuarios/{id}/gestion/{accion} (id=${usuario.id}, {accion='desbloquear'})}" class="btn btn-success" th:text="'Desbloquear'"/>
                </td>
                <br>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>